.navbarmob {
    display: none;
}

.headerLeftbg,
.headerRightbg {
    display: none;
}

@media screen and (max-device-width: 991px) {
    .headerLeftbg,
    .headerRightbg {
        display: block;
    }
    .headerLeftbg {
        position: fixed;
        bottom: 0;
        left: 2.5%;
        max-width: 20%;
        z-index: -1;
    }
    .headerRightbg {
        position: fixed;
        bottom: 0;
        right: 2.5%;
        max-width: 25%;
        z-index: -1;
    }
    body {
        padding-bottom: 48px!important;
    }
    .navbar-brand {
        display: none;
    }
    .navbarmob {
        display: block;
        text-align: center;
        margin: 15px 0 25px;
    }
    .navbar-nav {
        margin-top: 5px;
    }
    .navbar-nav .nav-link {
        letter-spacing: 5px;
    }
    .navbar-nav .nav-link:hover span,
    .navbar-nav .nav-link.active span {
        border-width: 4px;
        border-color: currentColor;
    }
}

@media screen and (max-device-width:991px) {
    .header_inner {
        position: fixed;
        top: auto;
        bottom: 0;
        text-align: center;
        width: 100%;
        left: 0;
        z-index: 9;
    }
    .navbar-toggler {
        padding: 0;
        border: none;
        border-radius: 0;
        margin: 0 auto;
        width: 50px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-toggler:before {
        content: '';
        background-color: #141013;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 48px;
        transition: var(--transition);
    }
    .navbar-toggler[aria-expanded="true"]::before {
        height: 100%;
    }
    .navbar-toggler::after {
        content: '';
        background-color: #df380e;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
    }
    .navbar-toggler[aria-expanded="true"]::after {
        display: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler .navbar-toggler-icon {
        position: relative;
        width: 50px;
        height: 2px;
        background-color: white;
    }
    .navbar-toggler .navbar-toggler-icon::before,
    .navbar-toggler .navbar-toggler-icon::after {
        content: '';
        position: absolute;
        left: 0;
        width: 50px;
        height: 2px;
        background-color: white;
        transition: var(--transition);
    }
    .navbar-toggler .navbar-toggler-icon::before {
        top: -10px;
    }
    .navbar-toggler .navbar-toggler-icon::after {
        bottom: -10px;
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        height: 0;
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
        transform: rotate(45deg) translate(6px, 6px);
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
        transform: rotate(-45deg) translate(6px, -6px);
    }
    .navbar-collapse .navbar-nav {
        display: block;
        width: 100%;
        position: relative;
        overflow-y: auto;
        /* min-height: calc(100vh - 50px - 3rem);
        max-height: calc(100vh - 50px - 3rem);
        max-height: calc(100vh - 200px);
        min-height: calc(100vh - 200px);
        margin: 15px 0 0;
        padding: 20px 0; */
    }
    .navbar-nav .nav-link {
        color: white;
        display: inline-block;
        margin: 1rem auto 0;
        padding: .5rem;
    }
}

@media screen and (max-device-width:420px) {
    .headerLeftbg {
        max-width: 25%;
    }
    .headerRightbg {
        max-width: 30%;
    }
}

@media screen and (max-device-width:991px) and (orientation: portrait) {
    .navbar-collapse .navbar-nav {
        display: block;
        width: 100%;
        position: relative;
        overflow-y: auto;
        max-height: calc(100vh - 200px);
        min-height: calc(100vh - 200px);
        margin: 15px 0 0;
        padding: 20px 0;
    }
}

@media screen and (max-device-width:991px) and (orientation: landscape) {
    .navbar-collapse .navbar-nav {
        width: 100%;
        display: block;
        position: relative;
        text-align: center;
        margin: 0;
        padding: 0 0 30px;
        overflow-y: auto;
        height: calc(100vh - 140px);
    }
}


/* 
@media screen and (max-device-width:991px) and (orientation: landscape) {
    .navbar-brand {
        margin: 0;
    }
    .navbar-toggler {
        position: fixed;
        right: .75rem;
        z-index: 1;
        padding: 0;
        border: none;
        border-radius: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        transition: var(--transition);
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler[aria-expanded="true"] {
        right: 50%;
        transform: translateX(50%);
    }
    .navbar-toggler .navbar-toggler-icon {
        position: relative;
        width: 40px;
        height: 2px;
        background-color: white;
    }
    .navbar-toggler .navbar-toggler-icon::before,
    .navbar-toggler .navbar-toggler-icon::after {
        content: '';
        position: absolute;
        left: 0;
        width: 40px;
        height: 2px;
        background-color: white;
        transition: var(--transition);
    }
    .navbar-toggler .navbar-toggler-icon::before {
        top: -10px;
    }
    .navbar-toggler .navbar-toggler-icon::after {
        bottom: -10px;
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        height: 0;
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
        transform: rotate(45deg) translate(6px, 6px);
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
        transform: rotate(-45deg) translate(6px, -6px);
    }
    .navbar-collapse {
        background-color: #141013;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        transition: var(--transition);
        padding: 50px 0 10px;
        opacity: 0;
        visibility: hidden;
    }
    .navbar-collapse.show {
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
    .navbar-collapse .navbar-nav {
        position: relative;
        text-align: center;
        margin: 0;
        overflow-y: auto;
        max-height: calc(100vh - 60px);
    }
    .navbar-nav .nav-link {
        color: white;
        display: inline-block;
        margin: 1rem auto 0;
        padding: .2rem;
    }
} */